.education{
    background-color:rgb(62, 63, 63);
    color: white;
    font-weight: bold;
    padding: 2rem 1rem;
    margin: 1rem 30rem; 
    border-radius: 1rem;
    text-align: center;
}
.education-heading{
    border-radius: 10rem;
    color: white;
}